# vim file

.vim/**
!.vim/keymap/
!.vim/mysettings/

!.vim/keymap/**
!.vim/mysettings/**

!.vim/vimrc
!.vim/plugin.vim

# config file

.config/**
!.config/*/

!.config/fish/config.fish
!.config/fish/tmux.fish
!.config/fish/fish_plugins
!.config/fish/fish_variables
!.config/fish/conf.d/
!.config/fish/conf.d/**
!.config/fish/template/
!.config/fish/template/**
# !.config/fish/myconf/
# !.config/fish/myconf/**

!.config/tmux/**
!.config/alacritty/*
!.config/nvim/**
!.config/common/*
# !.config/i3/*
# !.config/dunst/*
# !.config/polybar/*

# vim
.*.swp

# backup
bak/

